@{
    var rol = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value ?? "";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Gestor Proyectos</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/SidebarCSS.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboardcards.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body class="main-body">

    <!-- NAVBAR SUPERIOR -->
    <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-0 px-3 d-flex justify-content-between align-items-center">

        <span class="navbar-brand fw-bold mx-auto text-center">
            Gestor de Proyectos Académicos
        </span>

        <div class="navbar-right">
            <button class="Btn" onclick="window.location='/Cuenta/Logout'">
                <div class="sign">
                    <svg viewBox="0 0 512 512">
                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                    </svg>
                </div>
                <div class="text">Cerrar sesión</div>
            </button>
        </div>


    </nav>


    <div class="app-container">

        @if (ViewData["HideSidebar"] == null)
        {
            <!-- SIDEBAR -->
            <aside class="sidebar">

                <!-- LOGO -->
                <div class="logo">
                    <span class="menu-title">Menú Principal</span>
                </div>

                <!-- MENU -->
                <nav class="menu">
                    <ul>
                        @if (rol == "Profesor")
                        {
                            <li><a asp-controller="Dashboards" asp-action="ProfesorDashboard"><i class="fas fa-home"></i>Inicio</a></li>
                            <li><a asp-controller="Proyectos" asp-action="Index"><i class="fas fa-folder"></i>Proyectos</a></li>
                            <li><a asp-controller="Tareas" asp-action="Index"><i class="fas fa-list-check"></i>Tareas</a></li>
                            <li><a asp-controller="Asignaciones" asp-action="Index"><i class="fas fa-user-plus"></i>Asignaciones</a></li>
                            <li><a asp-controller="Reportes" asp-action="Proyectos"><i class="fas fa-chart-line"></i>Reportes</a></li>
                        }

                        @if (rol == "Estudiante")
                        {
                            <li><a asp-controller="Dashboards" asp-action="EstudianteDashboard"><i class="fas fa-home"></i>Inicio</a></li>
                            <li><a asp-controller="Proyectos" asp-action="Index"><i class="fas fa-folder"></i>Mis Proyectos</a></li>
                            <li><a asp-controller="Tareas" asp-action="Index"><i class="fas fa-list-check"></i>Mis Tareas</a></li>
                            <li><a asp-controller="Reportes" asp-action="MiResumen"><i class="fas fa-chart-line"></i>Mi Resumen</a></li>
                        }

                        @if (rol == "Administrador")
                        {
                            <li><a asp-controller="Dashboards" asp-action="AdministradorDashboard"><i class="fas fa-home"></i>Inicio</a></li>
                            <li><a asp-controller="Usuarios" asp-action="Index"><i class="fas fa-user"></i>Usuarios</a></li>
                            <li><a asp-controller="Roles" asp-action="Index"><i class="fas fa-user-gear"></i>Roles</a></li>
                            <li><a asp-controller="Proyectos" asp-action="Index"><i class="fas fa-folder"></i>Proyectos</a></li>
                        }
                    </ul>
                </nav>

                <div class="profile">

                    <div class="avatar avatar-icon">
                        <i class="fa-solid fa-user"></i>
                    </div>

                    <div class="user-info">
                        <h3>@User.Identity?.Name</h3>
                        <p>@rol</p>
                    </div>

                </div>


            </aside>
            }

        <!-- CONTENIDO -->
        <main class="content-area p-4">
            @RenderBody()
        </main>

    </div>

    <script src="~/js/SidebarJS.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
