@model Gestor_Proyectos_Academicos.Models.Usuario

<link rel="stylesheet" href="~/css/UsuariosCRUD.css" />

<div class="details-card">
    <h2 class="form-title">Detalles del Usuario</h2>

    <dl>
        <dt>ID</dt>
        <dd>@Model.IdUsuario</dd>

        <dt>Nombre</dt>
        <dd>@Model.Nombre</dd>

        <dt>Correo</dt>
        <dd>@Model.Correo</dd>

        <dt>Rol</dt>
        <dd>@Model.Rol?.NombreRol</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.IdUsuario" class="btn-create">Editar</a>
    <a asp-action="Index" class="btn-cancel">Volver</a>
</div>
