@model IEnumerable<Gestor_Proyectos_Academicos.Models.Rol>

@{
    ViewData["Title"] = "Roles";
}

<link rel="stylesheet" href="~/css/RolesCRUD.css" />

<div class="section-header">
    <h2 class="section-title">Roles</h2>

    <a asp-action="Create" class="btn-create">Crear nuevo rol</a>
</div>

<div class="card-table-container">
    <table class="modern-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdRol</td>
                    <td>@item.NombreRol</td>

                    <td class="actions-cell">
                        <a asp-action="Details" asp-route-id="@item.IdRol" class="action-btn info">Detalles</a>
                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="action-btn edit">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdRol" class="action-btn delete">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
