@model Gestor_Proyectos_Academicos.Models.ProyectosEstudiantes

@{
    ViewData["Title"] = "Eliminar Asignación";
}

<link rel="stylesheet" href="~/css/AsignacionesCRUD.css" />

<div class="delete-card">

    <h2>Eliminar Asignación</h2>
    <p>¿Seguro que querés eliminar esta asignación?</p>

    <p><strong>Proyecto:</strong> @Model.Proyecto?.Nombre</p>
    <p><strong>Estudiante:</strong> @Model.Estudiante?.Nombre</p>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()

        <input type="hidden" name="idProyecto" value="@Model.IdProyecto" />
        <input type="hidden" name="idEstudiante" value="@Model.IdEstudiante" />

        <button type="submit" class="btn-delete-big">Eliminar</button>
    </form>

    <a asp-action="Index" class="btn-cancel">Cancelar</a>
</div>
