@model IEnumerable<Gestor_Proyectos_Academicos.Models.ReporteProyectoView>

@{
    ViewData["Title"] = "Reporte de Proyectos";
}

<link rel="stylesheet" href="~/css/Reportes.css" />

<div class="section-header">
    <h2 class="section-titulo">Reporte de Proyectos</h2>
</div>

<div class="card-table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Profesor</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Total Tareas</th>
                <th>Tareas Completadas</th>
                <th>Avance</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Proyecto</td>
                    <td>@p.Profesor</td>
                    <td>@p.FechaInicio.ToShortDateString()</td>
                    <td>@(p.FechaFin?.ToShortDateString() ?? "-")</td>
                    <td>@p.TotalTareas</td>
                    <td>@p.TareasCompletadas</td>
                    <td>@p.PorcentajeAvance.ToString("0.##") %</td>
                </tr>
            }
        </tbody>
    </table>
</div>
