@model Gestor_Proyectos_Academicos.Models.Tarea
<link rel="stylesheet" href="~/css/TareasCRUD.css" />

<h2 class="section-title">Detalles de la tarea</h2>

<div class="details-card">

    <p><strong>Título:</strong> @Model.Titulo</p>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
    <p><strong>Fecha límite:</strong> @Model.FechaLimite.ToString("dd-MM-yyyy")</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
    <p><strong>Proyecto:</strong> @Model.Proyecto?.Nombre</p>

    @if (!User.IsInRole("Estudiante"))
    {
        <p><strong>Asignado a:</strong> @Model.AsignadoA?.Nombre</p>
    }

    <a asp-action="Edit" asp-route-id="@Model.IdTarea" class="btn-create">Editar</a>
    <a asp-action="Index" class="btn-cancel">Volver</a>

</div>
