@model Gestor_Proyectos_Academicos.Models.Proyecto

@{
    ViewData["Title"] = "Detalles del proyecto";
    bool esAdmin = User.IsInRole("Administrador");
}

<link rel="stylesheet" href="~/css/ProyectosCRUD.css" />

<h2 class="section-title">Detalles del proyecto</h2>

<div class="details-card">

    @if (esAdmin)
    {
        <p><strong>ID:</strong> @Model.IdProyecto</p>
    }

    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Descripción:</strong> @Model.Descripcion</p>
    <p><strong>Fecha inicio:</strong> @Model.FechaInicio.ToString("dd-MM-yyyy")</p>
    <p><strong>Fecha fin:</strong> @Model.FechaFin.ToString("dd-MM-yyyy")</p>

    <div style="margin-top: 20px;"> 

        @if (User.IsInRole("Administrador") || User.IsInRole("Profesor"))
        {
            <a asp-action="Edit" asp-route-id="@Model.IdProyecto" class="action-btn edit">Editar</a>
        }

        <a asp-action="Index" class="action-btn info">Volver</a>
    </div>


</div>
