@model IEnumerable<Gestor_Proyectos_Academicos.Models.Proyecto>

@{
    ViewData["Title"] = "Proyectos";

    var rol = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
    bool esProfesor = rol == "Profesor";
    bool esAdmin = rol == "Administrador";
    bool esEstudiante = rol == "Estudiante";
}
<link rel="stylesheet" href="~/css/ProyectosCRUD.css" />

<div class="section-header">
    <h2 class="section-title">Proyectos</h2>

    @if (User.IsInRole("Profesor") || User.IsInRole("Administrador"))
    {
        <a asp-action="Create" class="btn-create">
            + Crear nuevo proyecto
        </a>
    }
</div>

<div class="card-table-container">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Descripcion</td>
                <td>@p.FechaInicio.ToString("dd-MM-yyyy")</td>
                <td>@p.FechaFin.ToString("dd-MM-yyyy")</td>

                <td class="actions-cell">
                    <a asp-action="Details" asp-route-id="@p.IdProyecto" class="action-btn info">Detalles</a>

                    @if (User.IsInRole("Profesor") || User.IsInRole("Administrador"))
                    {
                        <a asp-action="Edit" asp-route-id="@p.IdProyecto" class="action-btn edit">Editar</a>
                        <a asp-action="Delete" asp-route-id="@p.IdProyecto" class="action-btn delete">Eliminar</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
